* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html {
    font-size: 16px;
    overflow: auto;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: auto;
}

button {
    padding: 0.4rem;
    font-size: 1.8rem;
    border-radius: 10px;
    background-color: rgb(192, 25, 25);
    color: rgb(237, 230, 164);
    cursor: pointer;
}

#buttonContainer {
    display: flex;
    gap: 3rem;
    position: absolute;
    top: 0.1rem;
    margin-top: 0.5rem;
}

#container {
    border: 5rem solid rgb(192, 25, 25);
    width: 47.25rem;
    height: 41.25rem;
    display: flex;
    border-radius: 10%;
    position: absolute;
    top: 5rem;
    
}
.gridRow {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.gridItem {
    flex: 1;
    border: 1px solid rgba(0,0,0,0.3);
}


/*MEDIA QUERIES FOR SMALLER SCREEN SIZES*/



@media (max-width: 1024px) {
    html {
        font-size: 14px;
    } 
}

@media (max-width: 768px) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 480px) {

    html {
        font-size: 7px;
    }
}



