* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    /* border: 1px solid black; */
  }

html {
    font-size: 0.5 rem;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    min-height: 100vh;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

button {
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
}

/*make all below flex and make grid row and grid items direction opposite/ or container and gridRow*/

#container {
    outline: 40px solid red;
    /* box-shadow:-20px 10px 0 red, -20px -10px red, 20px 10px red, 20px -10px red; */
    width: 402px;
    height: 402px;
    display: flex;
    border-radius: 2px;
    /* position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) */
}
.gridRow {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.gridItem {
    flex: 1;
    border: 1px solid rgba(0,0,0,0.3);
}

.dot {
    background-color: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
}

/*media queries for small screen sizes*/

@media (max-width: 1024px) {

}

@media (max-width: 768px) {
  #container {
    
  }
}

@media (max-width: 480px) {
    #container {
        width: 302px;
        height: 302px;
    }

}



